{% load staticfiles %}

<div class="sidebar-nav sidebar">
	<div class="profile-sidebar">
		<a href="">
			<div class="profile-userpic">
				<img src="{% static 'application/img/sidebar/icon_manager.png' %}" width="50" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span></div>
			</div>
		</a>
		<div class="clear">
		</div>
	</div>
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="">
					<i class="nav-icon icon-speedometer"></i> Planning
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					<i class="nav-icon icon-people"></i> Missions
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					<i class="nav-icon icon-docs"></i> Clients
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					<i class="nav-icon icon-notebook"></i> Consultants
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'messagerie' %}">
					<i class="nav-icon icon-notebook"></i> Messagerie
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					<i class="nav-icon icon-notebook"></i> Réglages
				</a>
			</li>
		</ul>
	</nav>
</div>