.bouton_filtrer{
	color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;
    box-shadow: 0 0.125rem 0.625rem #2f353a63, 0 0.0625rem 0.125rem rgba(58, 196, 125,0.5);
    border-radius: 5%;
    display: flex;
}

.bouton_ajouter{
	color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
    box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.4), 0 0.0625rem 0.125rem #2f353a63;
    border-radius: 8%;
    display: flex;
    cursor: pointer;
}



.bouton_upload{
	color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;
    box-shadow: 0 0.125rem 0.625rem #2f353a63, 0 0.0625rem 0.125rem #2f353a63;
    border-radius: 8%;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

.icons_size{
	font-size:21px;
}

.buttons_gestions_indiv{
	cursor: pointer;
	float: right;
	color: white;
	padding: 5px 12px 5px 12px;
	border-radius: 100%;
	margin: auto;
}

.indicateur_mois{
	background-color: #2f353a;
    position: absolute;
    margin-top: 300px;
    width: 6px;
    height: 2px;
    z-index: 5;
}

.buttons_gestion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 22px;
	margin-bottom: 25px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3ac47d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3ac47d80;
}


.add_form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}



.really_all_planning{
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

.titre_buttons_mois{
	float: left;
}



.buttons{
	float: right;
    display: flex;
    flex-direction: row;
    margin-right: 34px;
}

.all_first_line{
    width: 100%;
    height: auto;
    list-style: none;
}

.all_second_line{
	display: flex;
	flex-direction: row;
	justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom:14px;
}

.titre{
	font-size: 26px;
	color: #2f353a;
	margin-left: 28px;
}

.container_filter_button{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.navbar_planning{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}


.case_jours{
	text-align: center;
	width: 92px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	display: block;
	position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    height: 26px;
    z-index: 10;
}


.all_table{
	margin-left: 18px;
}

.jours{
	width: 92px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	height: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.texte_jours{
	margin-left: auto;
    margin-right: auto;
}


.consultants{
	text-align: center;
	width: 160px;
	min-width: 160px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	height: 26px;
	border-left: none;
}


.table{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 500px;
	overflow: scroll;
	
}

.second_table{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: white;
}

.first_table{
	position: sticky;
  	left: 0;
  	z-index: 4;
  	background-color: white;
  	height: max-content;
}

.consultants_grids{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 1;
	height: max-content;
}

.line_grids{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: unset;
	z-index: 1;
}

.grid{
	width: 160px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-left: none;
	height: 28px;

}

/*class des cases de la ligne de transition des semaines */
.no_line{
	width: 160px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-top: none;
	border-right: none;
	height: 28px;
}

.mois{
	height: 36px;
	cursor: pointer;
	float: right;
	color: #222;
	padding: 5px 12px 5px 12px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-left:none;
	text-align: center;
	width: 100px;
}

.mois:hover{
	background-color:#2f353ab0; 
}

.mois.this_month:hover{
	background-color: #2f353a;
	color: white;
	border-color: #2f353a;
    box-shadow: 0 0.125rem 0.625rem #2f353a63, 0 0.0625rem 0.125rem #2f353a63;
}

.this_month{
	background-color: #2f353a;
	color: white;
	border-color: #2f353a;
    box-shadow: 0 0.125rem 0.625rem #2f353a63, 0 0.0625rem 0.125rem #2f353a63;
}

.attente{
	background-color: #f74044;
	color: white;
}

.cours{
	background-color: #20a8d8;
	color: white;
}

.terminee{
	background-color: #3ac47d;
	color: white;
}

.container_missions{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 12px;
}

.missions{
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 2px;

 }

.no_line{
	height: 28px;
}



.today{
	background-color: red;
}

.two_mission{
	height: 56px!important;
}